.card-3d {
  width: 100%;
  height: 25em;
  perspective: 100em;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-3d.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color and background-image are used to display the card image */
  background-color: var(--card-color, transparent);
  background-image: var(--card-image, transparent);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.card-back {
  transform: rotateY(180deg);
}

.card-number {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.card-3d:hover .card-inner {
  transform: scale(1.05);
}

.card-3d.flipped:hover .card-inner {
  transform: rotateY(180deg) scale(1.05);
}

